.wd-dashboard-course-link {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 6px;
}



.go-button {
    padding: 8px 10px;
    font-size: 13px;
    line-height: 1;
    margin-bottom: 0px;
}