#wd-course-status .btn-secondary {
    --bs-btn-color: #000;
    --bs-btn-bg: #c7cdd1;
    --bs-btn-border-color: #c7cdd1;
    --bs-btn-hover-color: #fff;
}

#wd-course-status .bg-secondary {
    background-color: #c7cdd1 !important;
}

#wd-course-status .border-gray {
    border: 1px solid gray !important;
}